# Composer
/vendor

#node_modules
/node_modules

# System and IDE files
.DS_Store
.idea

# Cypress
cypress.env.json
/tests/cypress/screenshots
/tests/cypress/videos

# Playwright
/tests/playwright/test-results
/tests/playwright/artifacts
/tests/playwright/.cache/
/tests/playwright/.auth/

# Built-app files
/.docs
/build/*
/wp-plugin-bigrock

# File Types
*.log
*.sql
*.zip
